/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services {
    .icon-box {
        text-align: center;
        padding: 70px 20px 80px 20px;
        transition: all ease-in-out 0.3s;
        background: #fff;
        width: 100%;
        box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
        .icon {
            margin: 0 auto;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: ease-in-out 0.3s;
            position: relative;
            &::after {
                // background-image: url(../img/shape/we_create_right.png);
                position: absolute;
                z-index: 10;
                min-height: 262px;
                min-width: 207px;
                font-size: 30px;
                font-weight: 600;
                color: gray;
                top: -5px;
                right: 10px;
            }
            i {
                font-size: 36px;
                transition: 0.5s;
                position: relative;
            }
            svg {
                position: absolute;
                top: 0;
                left: 0;
                path {
                    transition: 0.5s;
                    fill: #f5f5f5;
                }
            }
        }
        h4 {
            font-weight: 600;
            margin: 10px 0 15px 0;
            font-size: 22px;
            a {
                color: #434175;
                transition: ease-in-out 0.3s;
            }
        }
        p {
            line-height: 24px;
            font-size: 14px;
            margin-bottom: 0;
        }
    }
}

.icon1::after {
    content: "01";
}

.icon2::after {
    content: "02";
}

.icon3::after {
    content: "03";
}

.icon4::after {
    content: "04";
}

.icon5::after {
    content: "05";
}

.icon6::after {
    content: "06";
}

.icon7::after {
    content: "07";
}

.icon8::after {
    content: "08";
}

.icon9::after {
    content: "09";
}

.icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue i {
    color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
    color: #fff;
}

.services .iconbox-blue:hover .icon path {
    fill: #47aeff;
}

.services .iconbox-orange i {
    color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
    color: #fff;
}

.services .iconbox-orange:hover .icon path {
    fill: #ffa76e;
}

.services .iconbox-pink i {
    color: #e80368;
}

.services .iconbox-pink:hover .icon i {
    color: #fff;
}

.services .iconbox-pink:hover .icon path {
    fill: #e80368;
}

.services .iconbox-teal i {
    color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
    color: #fff;
}

.services .iconbox-teal:hover .icon path {
    fill: #11dbcf;
}

.gray-bg {
    background: #f5f5f5;
}


/*-------------Color include--------------*/


/*-- Background color---*/

.gray-bg {
    background: #f7f7fd;
}

.white-bg {
    background: #ffffff;
}

.black-bg {
    background: #16161a;
}

.theme-bg {
    background: #5c74ff;
}

.brand-bg {
    background: #f1f4fa;
}

.testimonial-bg {
    background: #f9fafc;
}


/*--- color------*/

.white-color {
    color: #ffffff;
}

.black-color {
    color: #16161a;
}

.theme-color {
    color: #5c74ff;
}